.cube1 {
	width: 75px;
	height: 75px;
}

.cube2 {
	width: 150px;
	height: 75px;
}

.rowHeight {
	height: 64px;
}

body {
	font-family: Orbitron;
}

.numberPad { 
    line-height: 64px;
    vertical-align: middle;
    font-size: 20px;
}

